.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journeys {
  display: table;
  width: 100%;
  margin-bottom: 3rem;
}

.cards {
  margin-top: 1rem;
}

.card {
  height: 100%;
  color: inherit;
  border: 1px solid var(--ifm-color-emphasis-300);
}

.card:hover {
  color: inherit;
  text-decoration: none;
  border-color: var(--ifm-color-primary);
}
